# Golang-specific
*.exe
*.test
*.out
*.prof
*.cover
*.[568vqwo]*
*.8
*.6
*.3
*.ko
*.o
*.a
*.so
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# Binaries for programs and plugins
bin/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below if you want to include it)
# vendor/

# Kubernetes
*.yaml

# Terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan

# Docker
Dockerfile

# IDEs
.idea/
*.iml
*.suo
*.sln
*.sdf
*.dbmdl
*.jfm
*.psess
.vs/
.vscode/

# Log files
*.log

# Miscellaneous
*.swp
*.bak
*.tmp
*.orig
*.rej
*.retry

# OS-specific
.DS_Store
Thumbs.db
*.lock
